.text{
	position: relative;
	font-size: 22px;
	top: 50px;
	font-family: 'Poppins';
	opacity: 0;
	-ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.text-dark{
	color:#fff
}

.button {
	/* 	design the outer circle */
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px 0px #888;

	/* 	required to position children elements */
	position: relative;

	/* 	required to center elements*/
	display: grid;
	place-items: center;
}

.button::before {
	/* 	pseudo-elements don't display if content property is not declared */
	content: "";

	/* 	design the inner-ring */
	width: 50%;
	height: 50%;
	border: 10px solid #eee;
	border-radius: 50%;
	position: absolute;
}

.break-circle{
	height: 30%;
	width: 30px;
	border-radius: 10px;
	/* 	position the light correctly */
	position: absolute;
	top: 20px;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

	/* 	required to give white-space to inner-ring */
	/*box-shadow: 0 0 0 10px var(--bs-dark);*/
}

.light {
	/* 	design the vertical light */
	height: 30%;
	width: 10px;
	background: #eee;
	border-radius: 10px;

	/* 	position the light correctly */
	position: absolute;
	top: 20px;

	/* 	required to give white-space to inner-ring */
	/*box-shadow: 0 0 0 10px var(--bs-dark);*/
}

.button:hover {
	cursor: pointer;
}

.button-on {
	box-shadow: 0 0 10px 0px #888 inset;
}

.button-on .light {
	background: lightgreen;
}

.button-on::before {
	border-color: lightgreen;
}

.button-clicked .light {
	background: rgb(255, 153, 0);
}

.text-on, .button-clicked .light, .button-clicked::before {
	animation: blinker 2s linear infinite;
}

.text-off, .text-on{
	opacity: 0.5;
}

.text-off:hover{
	cursor: pointer;
}

.button-clicked::before {
	border-color: rgb(255, 153, 0);
}

@keyframes blinker {
	50% {
	  opacity: 0.3;
	}
  }

.button-off .light {
	background: rgb(255, 91, 79);
}

.button-off::before {
	border-color: rgb(255, 91, 79);
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bs-dark)
}


:root{
	--bs-dark: #212529;
  }
  
  .theme-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
  }
  
  .theme-container:hover {
	opacity: 0.8;
  }
  
  .shadow-dark {
	background: linear-gradient(145deg, #23282c, #1e2125);
	box-shadow: 17px 17px 23px #1a1d20,
	  -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
	  inset -5px -5px 4px #24282c;
  }
  
  .shadow-light {
	box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
	  inset 7px 7px 3px rgba(209, 217, 230, 0.35),
	  inset -11px -11px 3px rgba(255, 255, 255, 0.3)
  }
  
  @keyframes change {
	0% {
	  transform: scale(1);
	}
  
	100% {
	  transform: scale(1.4);
	}
  }
  
  .change {
	animation-name: change;
	animation-duration: 1s;
	animation-direction: alternate;
  }