<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <script src="{{url_for('static', filename='script.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="button" id="button" onclick="buttonClicked()">
            <div class="break-circle"></div>
            <div class="light" id="light"></div>
        </div>
        <div class="text" id="text" onclick="textClicked()">.</div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                if({{isPinging}}){
                    turnClicked();
                }
                else{
                    turnOnCondition();
                }
            }, false);

            async function turnOnCondition(){
                turnClicked()
                document.getElementById("text").innerHTML = "Checking if server is ON..."
                response = await httpGetAsync(serviceUrl+"ping")
                if(response.isOn){
                    turnOn()
                }
                else{
                    removeStates();
                }
            }
        </script>
    </body>
</html>
