<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <script src="{{url_for('static', filename='script.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="button" id="button" onclick="buttonClicked()">
            <div class="break-circle" id="break-circle"></div>
            <div class="light" id="light"></div>
        </div>
        <div class="text text-dark" id="text" onclick="textClicked()">.</div>
        <div class="theme-container shadow-dark">
            <img id="theme-icon"    src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg" alt="ERR">
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', async function() {
                isOn = await turnOnCondition()
                if(!isOn){
                    eventListener()
                }
            }, false);            
        </script>
    </body>
</html>
